@media (max-width: 1200px) {
  .school {
    padding: 150px 0 120px;
  }
  .school__title::after {
    top: 20px;
    right: 77px;
  }
}

@media (max-width: 1100px) {
  .school__title::after {
    opacity: 0;
  }
  .school__title {
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 920px) {
  .menu__list {
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: darkorchid;
    transform: translateY(-200%);
    transition: all .6s;
  }
  ul.menu__list {
    padding: 90px 0 15px;
  }
  .menu__btn {
    opacity: 1;
  }
  .menu__list-item {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .menu__list-item:hover {
    border-bottom: none;
  }
  .menu__list.menu__list--active {
    transform: translateY(0%);
    z-index: 2;
    transition: all .7s;
  }
  .logo {
    z-index: 666;
  }
  .menu__btn {
    z-index: 666;
  }
  .header__top-inner {}
  .menu__btn {
    margin-left: auto;
  }
  .school__text-desc {
    margin-right: 80px;
  }
  .school__text-excerpt .school__text-excerpt--first {
    margin-bottom: 67px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    display: block;
    width: 100%;
  }
  .menu__list {
    display: none;
  }
  .header__title {
    font-size: 175px;
    line-height: 197px;
  }
}

@media (max-width: 606px) {
  .school {
    padding: 110px 0 80px;
  }
  .school__title {
    font-size: 44px;
    line-height: 51px;
  }
  .school__text-excerpt .school__text-excerpt--first {
    margin-bottom: 84px;
  }
  .school__text-excerpt .school__text-excerpt--second {
    margin-bottom: 120px;
  }
}

@media (max-width: 595px) {
  .menu__list {
    display: block;
  }
  .header__title {
    font-size: 145px;
    line-height: 160px;
  }
  .header__subtitle {
    font-size: 21px;
  }
}

@media (max-width: 500px) {
  .menu__list {
    display: block;
  }
  .header__title {
    font-size: 115px;
    line-height: 124px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .school__title {
    font-size: 36px;
    line-height: 47px;
  }
  .school__text-excerpt .school__text-excerpt--first {
    margin-bottom: 134px;
  }
  .school__text-excerpt .school__text-excerpt--second {
    margin-bottom: 180px;
  }
}

@media (max-width: 410px) {
  .header__title {
    font-size: 88px;
    line-height: 95px;
  }
  .menu__list {
    display: block;
  }
  .school {
    padding: 75px 0 50px;
  }
  .school__title {
    font-size: 23px;
    line-height: 44px;
  }
  .school__text-desc {
    margin-right: 30px;
  }
  .school__text-excerpt .school__text-excerpt--first {
    margin-bottom: 190px;
  }
  .school__text-excerpt .school__text-excerpt--second {
    margin-bottom: 228px;
  }
}

@media (max-width: 320px) {
  .school__title {
    font-size: 21px;
    line-height: 30px;
  }
  .school__text-excerpt .school__text-excerpt--second {
    margin-bottom: 243px;
  }
}